# Input

In [8]:
INVOICE_DIR = '/work/data/OpenIRIS/LMU-20200424' #@param {type:"raw"}
INVOICE_FILE = 'Invoice24.xlsx' #@param {type:"raw"}
FIXES_FILE = 'fixed_Invoice24__price_type_missing.xlsx' #@param {type:"raw"}

import pandas as pd
from pathlib import Path

INVOICE_DIR = Path(INVOICE_DIR)
if not INVOICE_DIR.is_dir():
    raise ValueError('Please check INVOICE_DIR.')
INVOICE_FILE = INVOICE_DIR / INVOICE_FILE
if not INVOICE_FILE.exists():
    raise ValueError('Please check INVOICE_FILE.')
FIXES_FILE = INVOICE_DIR / FIXES_FILE
if not FIXES_FILE.exists():
    raise ValueError('Please check FIXES_FILE.')
    

df = pd.read_excel(INVOICE_FILE, skiprows=[0,1])
df2 = pd.read_excel(FIXES_FILE)

# use the original index in column 'Unnamed: 0'
df2.set_index('Unnamed: 0', inplace=True)
df2.head(3)

,ID,User name,Resource,Booking start,Booking end,Price,Discount,Quantity,Price item,Price type,Charge,Group,Cost center name,Cost center code,Comments (charge),Price (detailed)
Unnamed: 0,,,,,,,,,,,,,,,,
0,12424,"Guenther, Carla",3I Marianas no lasers,2019-12-06 08:00,2019-12-06 09:00,35,NaN,1.00,Discount percents,HiLIFE internal,5.04,Susanna Fagerholm,WBS1315077,1315077,NaN,"LMU night time discount 2 (28.00 %, -1.96 EUR)..."
2,12290,"matos, rita",Leica SP8 STED,2019-12-03 18:00,2019-12-04 10:00,73,NaN,16.00,Discount percents,HiLIFE internal,224.48,Ville Hietakangas,WBS1312439,1312439,NaN,"LMU night time discount 2 (28.00 %, -38.08 EUR..."
5,12105,"Wang, Xin",Leica TCS SP5 II HCS-A,2019-11-24 00:00,2019-11-24 03:33,73,NaN,3.55,Discount percents,HiLIFE internal,43.53,Ari Pekka Mähönen,WBS1316544,1316544,NaN,"LMU night time discount 2 (28.00 %, -12.14 EUR..."

# Modifications only (no added rows)

In [6]:
# 
df3 = df.copy()
df3.update(df2)

OUTPUT = INVOICE_DIR / (INVOICE_FILE.stem + "__update__" + FIXES_FILE.stem + INVOICE_FILE.suffix)
print(OUTPUT)

df3.to_excel(OUTPUT,index=False)

/work/data/OpenIRIS/LMU-20200424/Invoice24__update__fixed_Invoice24__price_type_missing.xlsx